
* {
  font-family: sans-serif;
  margin: 0px;
}
html, body {
  height: 100%;
  background: linear-gradient(#ccc, #333);
;
}

body {
  margin: 0px;
  padding:0px;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


#title h1 {
  color: #fff;
  font-size: 5em;
}


#title .title-container {
  margin-top: 100px;
  margin-left: 15%;
  display: inline-block;
  width: auto;
  animation: float 5s ease-in-out infinite;
}
